@import '../../styles/variables.scss';

.button {

  width: 280px;
  margin: $small $medium;
  border: 2px white solid;
  border-radius: 28px;
  background: #2363c1;
  cursor: pointer;
  padding: $small $large;
  color: white;
  
  i {
    margin-right: 10px;
  }
}
