@import '../../styles/variables.scss';

.favourite {
  i {
    color: pink;
  }

  border-color: pink;
}

.description {
      border-width: 2px;
    border-style: solid;
    border-radius: 28px;
    background: #1f1f1f;
    cursor: pointer;
    color: white;
    margin: 48px;
    
  border-width: 2px;
  border-style: solid;
  border-radius: 28px;
  background: #1f1f1f;
  cursor: pointer;
  padding: $small $large;
  color: white;
  margin: $xlarge;
}