@import '../../styles/variables.scss';

$hr-circle-diameter: 12px;

.title {
  text-transform: capitalize;
}

.favouriteActive {
  i {
    color: $white;
  }
}

.description {
  background: transparent;
  cursor: pointer;
  padding: $small 0;
  color: $white;
  margin: $small;
  max-width: 95vw;
  box-sizing: border-box;

  hr {
    position: relative;
    margin: $small $large;

    &:before {
      content: '';
      width: $hr-circle-diameter;
      height: $hr-circle-diameter;
      top: calc(-#{$hr-circle-diameter} / 2);
      background: $white;
      position: absolute;
      border-radius: 50%;
    }
  }

  @media (max-width: $screen-xs-max) {
    width: 95vw;
    margin: 0;
  }
}

.buttonContainer {
  margin-top: $large;
  flex-direction: row;
  align-items: center;
  height: auto;
  
  button {
    margin: 0 $small;
  }

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

    button {
      margin: 0 0 $medium 0;
    }
  }
}
