@import '../../styles/variables.scss';

.baseLayout {
  text-align: center;
  background: linear-gradient(-190deg, $blue-light 0%, $blue-medium 66%, $blue-dark 100%);
  width: 100vw;
  min-height: 100vh;
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: block;
  margin: auto;
}
