$xxxsmall: 2px;
$xxsmall: 4px;
$xsmall: 8px;
$small: 16px;
$medium: 24px;
$large: 32px;
$xlarge: 48px;
$xxlarge: 96px;
$xxxlarge: 192px;
$xxxxlarge: 288px;

$spacing-sizes:
  "small" $small,
  "medium" $medium,
  "large" $large,
  "xlarge" $xlarge;


$spacing-dimensions: 
  "left" "l",
  "top" "t",
  "right" "r",
  "bottom" "b";

@each $name, $size in $spacing-sizes {
  @each $side, $key in $spacing-dimensions {
    .m#{$key}-#{$name} {
      margin-#{$side}: $size;
    }

    .p#{$key}-#{$name} {
      padding-#{$side}: $size;
    }
  }
}

section {
  margin-bottom: $xlarge;
}