$small: 16px;
$medium: 24px;
$large: 32px;

$spacing-sizes:
  "small" $small,
  "medium" $medium,
  "large" $large;

$spacing-dimensions: 
  "left" "l",
  "top" "t",
  "right" "r",
  "bottom" "b";

@each $name, $size in $spacing-sizes {
  @each $side, $key in $spacing-dimensions {
    .m#{$key}-#{$name} {
      margin-#{$side}: $size;
    }

    .p#{$key}-#{$name} {
      padding-#{$side}: $size;
    }
  }
}
