
  h1, h2 {
    font-family: Aleo;
    font-weight: 700;
  }

  h1 {
    margin-bottom: 3rem;
    line-height: 9rem;
    font-size: 6em;
  }

  h2 {
    margin-bottom: 3rem;
    line-height: 6rem;
    font-size: 4.88281em;
  }

  p {
    margin-bottom: 3rem;
    line-height: 3rem;
    font-size: 1.6em;
  }

  body {
    font-family: "Open Sans";
    font-weight: 400;
  }
